@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

html, body{

    height: 100%;

    margin: 0;

    padding: 0;

    background-color: #2a2a2a;

    color: white;

    font-family: Arial, Helvetica, sans-serif;

}

body{

    display: flex;

    flex-direction: column;

    min-height: 100vh;

}

body h1{

    font-size: 3vw;

}

main{
    
    padding-inline: 2vh;
    margin-top: 10vh;
    flex: 1;

}

.navbar, footer{

    width: 100%;
    box-sizing: border-box;
    
}

.navbar h1{

    font-size: 3em;

    font-family: Asimovian;

    text-shadow: 1px 1px 2px black;

    margin: 0;

}

.navbar{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1a1a1a;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    box-sizing: border-box;

}

.navbar.hide{

    transform: translateY(-100%);

}

.navbar.show{

    transform: translateY(0);

}

#nav-right {
    display: flex;
    align-items: center;
}

#nav-right a{

    color: white;
    font-size: 2em;
    text-decoration: none;
    margin-left: 3vw;

}
#nav-right a:visited{

    color: white;

}
#nav-right a:hover{

    color: rgb(185, 185, 185);
    cursor: pointer;

}
#nav-right a:active{

    color: white;

}

footer {
    text-align: left;
    padding: 10px;
    background-color: #1a1a1a;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
    width: 100vw;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

#products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


#products-list img {
    width: 200px;
    height: auto;
    border-radius: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-box {
    background:rgba(245, 245, 245, 0.049);
    border:2px solid transparent;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    width: 220px;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #1a1a1a;
}

.container{
    animation: slideInFromBottom 1s ease-out;
    border:2px solid transparent;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    padding: 30px;
}

.container p{

    font-size: 1.5vw;;
    /* max-width: 45%; */

}

.Contact{
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border:2px solid transparent;
    border-radius: 2;  
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    align-self: flex-start; /* If inside a flex container */
    margin: auto;
    max-width: 700px;
    gap: 10px;
}

input[type=text], select, textarea {
  width: 550px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  flex-direction: column;
  display: flex;

}

input[type=submit] {
  background-color: #63226b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #430b64;
}

@media (min-width: 800px) {
  .input[type=text], select, textarea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
}

#thankyou-popup {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: green;
  border-radius: 2em;
  border:2px solid;
  padding: 30px 40px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  z-index: 1000;
  font-size: 1.2em;
}
@media (max-width: 600px) {
  input[type=text], select, textarea {
    width: 100%;
  }
  input[type=submit] {
    width: 100%;
    font-size: smaller;
  }
}


.mottoBoxContainer{
    z-index: 1;
    border:2px solid transparent;
    border-radius: 2em;
    background-color: rgba(245, 245, 245, 0.049);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 0px; /* Add gap to control spacing between boxes */;
    opacity: 0;
    animation: slideInFromBottom 1s ease-in-out 0.5s forwards;
}

.mottoBox{
    border:2px solid transparent;
    border-radius: 2em;
/*     background-color: rgba(245, 245, 245, 0.049);
 */    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items:center ;
    text-align: center;
    margin: 0 0; /* Remove auto margin to avoid extra spacing */
    opacity: 0;
    animation: slideInFromBottom 1s ease-in-out 0.5s forwards;

}

.mottoBox img{
    width: 50%;
    height: auto;
    margin-top: 10px;
    animation: float 2s ease-in-out infinite;
    animation-delay: 1s;

}

.mottobox p{
    font-size: 10px;
}

.infoBox{
    border:2px solid transparent;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items:center ;
    text-align: center;
    margin: 20px auto;
    padding: 30px;
    opacity: 0;
    animation: slideInFromBottom 1s ease-in-out 0.5s forwards;
}

.Map {
    width: 80%;
    height: auto;
    border-radius: 2em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-self: center;
    opacity: 0;
    animation: slideInFromBottom 1s ease-in-out 0.5s forwards;
}
